<html>
  <head>
    <title>Yelp Search</title>
  </head>
  <body>
    <h1>Yelp Search</h1>
    <form method="post">
      <label>Location:</label>
      <input type="text" name="location">
      <br><br>
      <label>Keyword:</label>
      <input type="text" name="keyword">
      <br><br>
      <input type="submit" value="Search">
    </form>
    <h2>Results</h2>
    {% if businesses %}
      <ul>
        {% for business in businesses %}
          <li>{{ business.name }} - {{ business.location.address1 }} - {{ hours(business.id) }}</li>
          </li>
          <img src= {{business.image_url}} width="75" height="75">
        {% endfor %}
        <li>{{ search_business('atlanta', ['food', 'burger', 'bars']) }}</li>
        <!-- <li>{{ search_business('atlanta', ['burger'])}}</li> -->
      </ul>
    {% else %}
      <p>No results found.</p>
    {% endif %}
  </body>
</html>
